@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*Para redimensionar a dimensão do body baseado no "viewport" do doc index.html*/
    box-sizing: border-box; /*Garantindo que os elementos não saiam da body*/
    background-color: #000000;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #0EE601;
}

.apresentacao {
    margin: 10% 15%;
    display: flex; /*Deixando o conteudo da pagina alinhado numa linha*/
    align-items: center; /*Alinhamento conforme a imagem, pois é o elemento de maior altura*/
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; /*Deixando o conteudo da pagina alinhado numa coluna*/
    gap: 40px; /*Deixando o conteudo dentro dessa classe com um espaçamento entre eles*/
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__botao {
    background-color: #0EE601;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}