@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #191A19;
    --cor-secundaria: #4E9F3D;
    --cor-terciaria: #D8E9A8;
    --cor-hoover: #1E5128;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; Para redimensionar a dimensão do body baseado no "viewport" do doc index.html*/
    box-sizing: border-box; /*Garantindo que os elementos não saiam da body*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    /* margin: 10% 15%; */
    padding: 2.78% 15%;
    display: flex; /*Deixando o conteudo da pagina alinhado numa linha*/
    align-items: center; /*Alinhamento conforme a imagem, pois é o elemento de maior altura*/
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; /*Deixando o conteudo da pagina alinhado numa coluna*/
    gap: 40px; /*Deixando o conteudo dentro dessa classe com um espaçamento entre eles*/
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__botao {
    /* background-color: #0EE601; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hoover);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}